h1{color: rgb(0, 255, 0);
    text-align:center;
}

p{color: blue;
    text-align:left;
}

.nav{background-color: #99badd;
    font-size:20px;
    border:5px red solid;
    border-radius:100px;}

    ol{list-style:none;}

    ol li{display:inline;
    padding-right:50px;}

    ol li a{text-decoration:none;
    color:rgba(22, 89, 153, 0.753);}

    ol li:hover a{color:purple;}

   

    ol li:active a{color: yellow}

    ol li:visited a{color:rgb(253, 115, 138);}
 
    